/******************************/
/* Header */
/******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* we want make it sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;

  /* ??? */
  z-index: 999;
}

.logo {
  height: 2.4rem;
}

/******************************/
/* Nav */
/******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* select in css based on attributes */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION WOW */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.95);
  box-shadow: 0 1.2rem 3.2rem rgb(51, 51, 51, 0.05);
}

/* to avoid the jump in the page */
.sticky .section-hero {
  /* header was 9.6rem */
  margin-top: 9.6rem;
}

/******************************/
/* Hero section */
/******************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

/* sample */
/* @media (max-width: 1200px) {
  .section-hero {
    background-color: #51cf66;
  }
}

@media (max-width: 600px) {
  .section-hero {
    background-color: coral;
  }
} */

.hero {
  max-width: 130rem;
  display: grid;
  gap: 6.9rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}
/* gap = -1 doesn't works here for some reason */

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals span {
  color: #cf711f;
  font-weight: 700;
}

/******************************/
/* Feature section */
/******************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  columns: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* filter: grayscale(100%); */
  filter: brightness(0);
  opacity: 60%;
}

/******************************/
/* How section */
/******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before {
  position: absolute;
  content: "";
  background-color: #fdf2e9;
  display: block;
  width: 60%;
  /* trick: 60% of parent's width */
  padding-bottom: 60%;
  border-radius: 50%;
  z-index: -2;
}

.step-img-box::after {
  position: absolute;
  content: "";
  background-color: #fae5d3;
  display: block;
  width: 45%;
  /* trick: 60% of parent's width */
  padding-bottom: 45%;
  border-radius: 50%;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/******************************/
/* Meal section */
/******************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  box-shadow: 0 3.6rem 6rem rgba(0, 0, 0, 0.075);
  transform: translateY(-1.2rem);
}

.meal-img {
  width: 100%;
  /* border-radius: 12px 12px 0 0; */
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

/* inline-block for paddings */
.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  border-radius: 100px;
  padding: 0.4rem 0.8rem;
}

.tag--Vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-attritubes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attritube {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  font-size: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/******************************/
/* Testimonials section */
/******************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* WOW */
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 1.6rem;
}

.gallery-item {
  /* WOW again */
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  filter: grayscale(0.4);
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
  filter: grayscale(0.1);
}

/******************************/
/* Pricing section */
/******************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  padding: 4.8rem;
  border-radius: 1.1rem;
  width: 70%;
  overflow: hidden;
}

.pricing-plan-1 {
  justify-self: end;
  /* box-shadow: inset 0 0 0 3px #fdf2e9; */
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan-2 {
  background-color: #fdf2e9;
  padding: 4.8rem;
}

.pricing-plan-2::after {
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 4%;
  right: -10%;
  background-color: #e67e22;
  color: #fff;
  padding: 0.8rem 3.2rem;
  border-radius: 0.5rem;
  transform: rotate(45deg);
  /* overflow: hidden; shhould on parent*/
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.75;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  font-size: 3.2rem;
  color: #e67e22;
  margin-bottom: 1.6rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

/******************************/
/* CTA section */
/******************************/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  /* padding: 0 !important; or simple create a div inside rhe container element*/
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1.1rem;
  /* background-image: linear-gradient(180deg, #e69955, #e67e22); */
  background-image: linear-gradient(to right bottom, #e69955, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(230, 153, 85, 0.2),
      rgba(230, 125, 34, 0.7)
    ),
    url("../img/eating.jpg");
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.4rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

/******************************/
/* Footer section */
/******************************/

.footer {
  padding: 9.6rem 0;
  background-color: #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #767676;
  /* WOW in flex to end */
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
